{% assign entry = include.item %}
{%- assign first_char = entry.user_url | slice:0 -%}
{%- if first_char == "/" -%}
    {%- assign url = site.baseurl | append: entry.user_url -%}
{%- else -%}
    {%- assign url = entry.user_url -%}
{%- endif -%}
<li>
    <a href="{{ url }}" target="_blank" title="{{ entry.user_title }}">
        <svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#' | append: entry.platform | relative_url }}"></use>
        </svg> 
        <span class="username">{{ entry.user_title }}</span>
    </a>
</li>