<li>
    <div class="container">
        {%- comment -%}<!-- Add image if applicable -->{%- endcomment -%}
        {%- if include.post.main_image and include.post.image_path -%}
            <div class="picture-box">
                <a href="{{ include.post.url | relative_url }}">
                    <img src="{{ site.baseurl }}{{ include.post.image_path }}{{ include.post.main_image }}" alt="{{ include.post.title }} main image"><br>
                </a>
            </div>
        {%- endif -%}

        <div class="flex-item">
            <span class="post-meta" style="vertical-align: middle;">{{ include.post.date | date: date_format }}</span>
            {%- comment -%}<!-- Add Tags if applicable -->{%- endcomment -%}
            {%- if include.post.tags.first and site.tag_page -%}
                &nbsp;|
                {%- for tag in include.post.tags -%}
                    &nbsp;<a class="article_tag article_list_tag" href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag }}">{{ tag }}</a>
                {%- endfor -%}
            {%- endif -%}

            <h3>
                <a class="post-link" href="{{ include.post.url | relative_url }}">
                    {{ include.post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
                {{ include.post.excerpt }}
            {%- endif -%}
        </div>
    </div>
</li>