
div.glossary-item {
    display: flex;
}

div.glossary-image {
    width: 20%;
    margin-right: 1.5rem;
    flex-shrink: 0;

    // Ensure that the figure caption does not go past the image
    figure {
        display: table;
        margin-bottom: 0px;
    }
    figcaption {
        display: table-caption;
        caption-side: bottom;
        text-align: center;
    }
}

div.glossary-definiton {
    flex-grow: 1;
    align-content: center;
}
