
div.picture-box {
    width: 20%;
    padding-right: 1.5rem;
}

div.picture-box a {
    height: 100%;
    width: 100%;
    display: flex;
}

div.picture-box img {
    object-fit: contain;
}

div.post-container {
    display: flex;
}

div.flex-item {
    flex-grow: 1;
    align-content: center;
}

h3.post-link-heading {
    margin-bottom: 0px;
}