
div.picture-box {
    height: 20%; 
    width: 20%;
    padding-right: 1.5rem;
}

div.post-container {
    display: flex;
}

div.flex-item {
    flex-grow: 1;
    align-content: center;
}

h3.post-link-heading {
    margin-bottom: 0px;
}