---
layout: base
---

<!-- Create empty string-->
{% assign weave_families = "" %}

<!-- Itterate over posts and concatenate weave family values to string -->
{% for post in site.posts %}
    {% if post.families %}
        {% for f in post.families %}
            {% assign family = f | append: ", " %}
            {% assign weave_families = weave_families | append: family %}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- Split the string into an array, then de-duplicate and sort it -->
{% assign weave_families = weave_families | split: ", " | uniq | sort %}




<div class="tags">
    {% for family in weave_families %}
        <a href="#{{ family }}"> {{ family }} </a>
    {% endfor %}
</div>


{% for family in weave_families %}

    <div class="tag-title">
        <span id="{{ family }}"> {{ family }} </span>
    </div>

    <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in site.posts -%}
            {% if post.family == family or post.families contains family %}
                {%- include post_list_item.html post=post -%}
            {% endif %}
        {%- endfor -%}
    </ul>    

{% endfor %}
