---
layout: base
---


<div class="carousel-container" id="carousel-test">
    <img style="display: block;" src="/assets/images/posts/2024_06_16_japanese_12_in_2/japanese_12_in_2_flat.jpg">
    <img style="display: none;"  src="/assets/images/posts/2024_06_09_japanese_6_in_1/japanese_6_in_1_flat.jpg">
    <img style="display: none;"  src="/assets/images/posts/2024_06_02_japanese_8_in_2/japanese_8_in_2_flat.jpg">
    <a class="carousel-nav carousel-last" onclick="changeSlide('carousel-test', 'last')">&#10094;</a>
    <a class="carousel-nav carousel-next" onclick="changeSlide('carousel-test', 'next')">&#10095;</a>
</div>

<style>

    .carousel-container {
        position: relative;
        margin: auto;
        width: 100%;
    }

    /* Style carousel nav buttons */
    .carousel-nav {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    
    /* Position the "next button" to the right */
    .carousel-next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .carousel-last:hover, .carousel-next:hover {
        background-color: rgba(0,0,0,0.8);
        text-decoration: none;
    }

</style>


<script>

    // Move to next slide
    function changeSlide(containerId, direction) {

        // Get current div
        let div = document.getElementById(containerId);

        // How many images in container
        let images = div.getElementsByTagName("img");

        // Find currently showing item
        let showing;
        for (let i=0; i<images.length; i++) {
            if (images[i].style.display === "block") {
                showing = i;
            }
        }
        console.log(`Currently Showing: ${showing}`);

        // Find new slide
        let change = direction === "next" ? 1 : -1; // Determine direction of change
        let next = (showing + change)               // apply change
        next = next % images.length;                // Account for overflow  - next on final image
        next = next < 0 ? images.length - 1 :  next // Account for underflow - last on first image
        console.log(`Next Showing ${next}`);

        // Hide current & show new
        images[showing].style.display = "none";
        images[next].style.display    = "block"
    }

</script>

<hr>

{% for post in site.posts %}
    {%- if post.image_path -%}

        <!-- Count Images -->
        {%- assign num_images = 0 -%}
        {%- for file in site.static_files -%}
            {%- if file.path contains post.image_path -%}
                {%- unless file.path contains '_step_' or file.path contains '_tutorial_' -%}
                    {%- assign num_images = num_images | plus:1 -%}
                {%- endunless -%}
            {%- endif -%}
        {%- endfor -%}

        <!-- List images for post if there is at least 1 image -->
        {%- if num_images > 1 -%}

            <div class="gallery-card">
                <div class="gallery-carousel">
                    {%- for file in site.static_files -%}
                        {%- if file.path contains post.image_path -%}
                            {%- unless file.path contains '_step_' or file.path contains '_tutorial_' -%}
                                <img src="{{ file.path }}">
                                <!-- Maybe parse the filepath to get a caption -->
                            {%- endunless -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>
 
                <div class="gallery-info">
                    <!-- Style this like the post layout without a picture -->
                    {{ post.title }}
                </div>
            </div>
            <br>

        {%- endif -%}

    {%- endif -%}
{% endfor %}
