---
layout: base_wide
---


<!-- Set dateformat for use in gallery info -->
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}


<!-- Set default null behaviour for show_progress and show_tutorial -->
{%- assign show_progress = false -%}
{%- if page.show_progress -%}
    {%- assign show_progress = page.show_progress -%}
{%- endif -%}

{%- assign show_tutorial = false -%}
{%- if page.show_tutorial -%}
    {%- assign show_tutorial = page.show_tutorial -%}
{%- endif -%}


<div class="gallery">
    {%- for post in site.posts -%}
        {%- include gallery_card.html -%}
    {%- endfor -%}
</div>


<script>
    // Wait for the page to load and remove the lock on animations
    document.addEventListener('DOMContentLoaded', () => {
        setTimeout(() => {
            let wrappers = document.getElementsByClassName("prevent-animation");
            Array.from(wrappers).forEach(element => {
                element.classList.remove("prevent-animation");
            });
        }, 1000);
    });

    // Slide change function
    function changeSlide(wrapperId, direction) {

        // Get the appropriate wrapper and slides
        let container = document.getElementById(wrapperId);
        let wrapper = container.getElementsByClassName('carousel-wrapper')[0];
        let slides = wrapper.getElementsByClassName('carousel-slide');
        let totalSlides = slides.length;

        // Get Dots and make all inactive
        let dots = document.getElementById(`${wrapperId}-dots`).getElementsByTagName("span");
        Array.from(dots).forEach(element => {
            element.classList.remove("dot-active")
        });

        // Disable buttons
        let nextButton = container.getElementsByClassName("carousel-next")[0];
        let lastButton = container.getElementsByClassName("carousel-last")[0];
        lastButton.setAttribute("onclick", "");
        nextButton.setAttribute("onclick", "");

        // Find current index
        let transform = wrapper.style.transform;
        let transformPercentage = transform.split("(")[1].split("%")[0];
        let currentIndex = Number(transformPercentage)/-100;

        // Increment or decrement index based on direction
        if (direction === 'next') {
            currentIndex++;
        } else {
            currentIndex--;
        }

        // Make appropriate dot active
        if (currentIndex === totalSlides - 1) {
            dots[0].classList.add('dot-active');
        } else if (currentIndex === 0) {
            dots[dots.length-1].classList.add('dot-active');
        } else {
            dots[currentIndex-1].classList.add('dot-active');
        }

        // Smooth slide transition
        wrapper.style.transition = 'transform 0.5s ease';
        wrapper.style.transform = `translateX(-${currentIndex * 100}%)`;

        // Wraparound logic with a delay to reset without transition
        wrapper.addEventListener('transitionend', () => {
            if (currentIndex === totalSlides - 1) {
                currentIndex = 1;
                wrapper.style.transition = 'none';
                wrapper.style.transform = `translateX(-${currentIndex * 100}%)`;
            }
            if (currentIndex === 0) {
                currentIndex = totalSlides - 2;
                wrapper.style.transition = 'none';
                wrapper.style.transform = `translateX(-${currentIndex * 100}%)`;
            }

            // enable buttons after animation finishes
            lastButton.setAttribute("onclick", `changeSlide('${wrapperId}', 'last')`);
            nextButton.setAttribute("onclick", `changeSlide('${wrapperId}', 'next')`);
        }, { once: true });
    }

    // Slide change function
    function setSlide(wrapperId, slideNumber) {

        // Get the appropriate wrapper and slides
        let container = document.getElementById(wrapperId);
        let wrapper = container.getElementsByClassName('carousel-wrapper')[0];

        // Disable buttons
        let nextButton = container.getElementsByClassName("carousel-next")[0];
        let lastButton = container.getElementsByClassName("carousel-last")[0];
        lastButton.setAttribute("onclick", "");
        nextButton.setAttribute("onclick", "");

        // Get Dots and make all inactive
        let dots = document.getElementById(`${wrapperId}-dots`).getElementsByTagName("span");
        Array.from(dots).forEach(element => {
            element.classList.remove("dot-active")
        });

        // Find current index
        let currentIndex = slideNumber;

        // Mark current slide's dot active
        dots[slideNumber - 1].classList.add('dot-active');

        // Smooth slide transition
        wrapper.style.transition = 'transform 0.5s ease';
        wrapper.style.transform = `translateX(-${currentIndex * 100}%)`;

        // Enable 
        wrapper.addEventListener('transitionend', () => {
            // enable buttons after animation finishes
            lastButton.setAttribute("onclick", `changeSlide('${wrapperId}', 'last')`);
            nextButton.setAttribute("onclick", `changeSlide('${wrapperId}', 'next')`);
        }, { once: true });
    }
</script>

<style>

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    @media (max-width: 600px) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }

    .gallery-card {
        max-width: 600px;
        margin: auto;
        padding: .5rem;
    }

    .carousel-container {
        position: relative;
        width: 100%;
        max-width: 600px; /* Adjust width as needed */
        height: 400px;    /* Set a fixed height for the carousel */
        margin: auto;
        overflow: hidden;
    }

    .carousel-wrapper {
        display: flex;
        height: 100%;
        width: 100%;
        transition: transform 0.5s ease;
    }

    .carousel-slide {
        min-width: 100%;
        height: 100%; /* Make each slide take full carousel height */
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .carousel-slide img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
    }

    .carousel-nav {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        user-select: none;
        transform: translateY(-50%);
    }

    .carousel-last {
        left: 0;
    }

    .carousel-next {
        right: 0;
    }

    .carousel-last:hover, .carousel-next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
    }

    .prevent-animation {
        transition: none !important;
    }

    /* Styling of indicator dots */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dot:hover {
        background-color: #717171;
    }

    .dot-active {
        background-color: #717171;
    }


    /* possibly style dot container over the image? */
    /* .dot-container {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    } */
</style>