---
layout: base
---


<!-- Items -->
<div class="tags">
    {% for definition in site.data.glossary %}
        {% if definition[1].glossary_page_show %}

            <!-- Capitalize Name -->
            {%- assign name = "" -%}
            {%- assign components = definition[0] | split: " " -%}
            {%- for component in components -%}
                {%- assign tmp = component | capitalize -%}
                {%- assign tmp = tmp | append: " " -%}
                {%- assign name = name | append: tmp -%}
            {%- endfor -%}

            <a href="#{{ definition[0] }}"> {{ name }} </a>
        {% endif %}
    {% endfor %}
</div>


<!-- Definitions -->
{%- for definition in site.data.glossary -%}
    {% if definition[1].glossary_page_show %}


        <!-- Capitalize Name -->
        {%- assign name = "" -%}
        {%- assign components = definition[0] | split: " " -%}
        {%- for component in components -%}
            {%- assign tmp = component | capitalize -%}
            {%- assign tmp = tmp | append: " " -%}
            {%- assign name = name | append: tmp -%}
        {%- endfor -%}

        <div class="tag-title">
            <span id="{{ definition[0] }}">{{ name }}</span>
        </div>
        {%- if definition[1].image -%}
            <figure>
                <img src="{{ site.baseurl }}{{ definition[1].image }}" alt="{{ definition[1].caption }}">
                {%- if definition[1].caption -%}
                    <figcaption>{{ definition[1].caption }}</figcaption>
                {%- endif -%}
            </figure>
        {%- else -%}
            <br>
        {%- endif -%}
        {{ definition[1].text }}
        <br>
        <br>
    {%- endif -%}
{%- endfor -%}
