---
layout: base
---

<!-- Create empty string-->
{% assign weave_families = "" %}

<!-- Itterate over posts and concatenate weave family values to string -->
{% for post in site.posts %}
    {% if post.families %}
        {% for f in post.families %}
            {% assign family = f | append: ", " %}
            {% assign weave_families = weave_families | append: family %}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- Split the string into an array, then de-duplicate and sort it -->
{% assign weave_families = weave_families | split: ", " | uniq | sort %}

<!-- Main Title -->
<h1>{{ page.title }}</h1>

<!-- Content, Subtitles and -->
<div id="hide-for-solo">
    {{ content }}

    <h2>Families</h2>

    <div class="tags">
        {% for family in weave_families %}
            <a href="#{{ family }}"> {{ family }} </a>
        {% endfor %}
    </div>

    <h2>Family Lists:</h2>
</div>

{% for family in weave_families %}

    <div class="tag-container" id="{{ family }}-container">

        <div class="tag-title">
            <span id="{{ family }}"> {{ family }} </span>
        </div>

        <div class="glossary-container">
            {%- assign glossary_writers = "all,single_only,all_only" | split: ',' -%}
            {% if glossary_writers contains page.glossary %}
                {%- if site.data.glossary contains family -%}
                    {{ site.data.glossary[family].text }}
                    <hr>
                {%- endif -%}
            {%- endif -%}
        </div>

        <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in site.posts -%}
                {% if post.family == family or post.families contains family %}
                    {%- include post_list_item.html post=post -%}
                {% endif %}
            {%- endfor -%}
        </ul>
    </div>

{% endfor %}

{%- if page.show_single -%}
    <script>
        // Determine if the url contains anchors
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor
            case 1:
                console.log('No Anchor');

                // Exiting Case
                break;

            // 1 Anchor
            case 2:
                console.log('Has anchor');

                // Hide the tag list
                document.querySelector('div.tags').style.display = 'none';
                console.log('Tag list hidden');

                // Hide all family containers
                family_containers = document.querySelectorAll('div.tag-container');
                for (family_container of family_containers) {
                    family_container.style.display = 'none';
                }
                console.log('Hid all family containers');
                
                // Find the desired family
                family = url_parts[1];
                document.querySelector('div#'+family+'-container').style.display = 'block';
                console.log('Unhid desired family container');

                // Hide top portions of page in single definition mode
                document.getElementById("hide-for-solo").style.display = 'none';

                // Exiting case
                break;

                
            // Anchors > 1
            default:
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}

{%- if page.glossary == 'single_only' -%}
    <script>
        // Determine the number of anchors in the URL
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor - Hide Glossary
            case 1:
                console.log('No Anchor');

                // Hide all glossary containers and exit
                containers = document.querySelectorAll('div.glossary-container');
                for (container of containers) {
                    container.style.display = 'none';
                }
                console.log('Hid all glossary containers');
                break;


            // 1 Anchor - Do Nothing
            case 2:
                // Log case and exit
                console.log('Has anchor');
                break;


            // Anchors > 1 - Do Nothing
            default:
                // Log case and break
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}

{%- if page.glossary == 'all_only' -%}
    <script>
        // Determine the number of anchors in the URL
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor - Do Nothing
            case 1:
                // Log case and exit
                console.log('No Anchor');
                break;


            // 1 Anchor - Hide glossaries
            case 2:
                // Log case and exit
                console.log('Has anchor');

                // Hide all glossary containers and exit
                containers = document.querySelectorAll('div.glossary-container');
                for (container of containers) {
                    container.style.display = 'none';
                }
                console.log('Hid all glossary containers');
                break;


            // Anchors > 1 - Do Nothing
            default:
                // Log case and exit
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}