---
layout: base
---

<!-- List tag links to types -->
<h1>Post Tags</h1>

<div class="tags">
    {% for tag in site.tags %}
        <a href="#{{ tag[0] }}"> {{ tag[0] }} </a>
    {% endfor %}
</div>


<!-- List posts by type -->
<h1>Tag Lists</h1>

{%- for tag in site.tags -%}

    <div class="tag-container" id="{{ tag[0] }}-container">
        <div class="tag-title">
            <span id="{{ tag[0] }}"> {{ tag[0] }} </span>
        </div>

        <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in tag[1] -%}
                {%- include post_list_item.html post=post -%}
            {%- endfor -%}
        </ul>
    </div>

{%- endfor -%}

{%- if page.show_single -%}
    <script>
        // Determine if the
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor
            case 1:
                console.log('No Anchor');

                // Exiting Case
                break;

            // 1 Anchor
            case 2:
                console.log('Has anchor');

                // Hide the tag list
                document.querySelector('div.tags').style.display = 'none';
                console.log('Tag list hidden');

                // Hide all family containers
                family_containers = document.querySelectorAll('div.tag-container');
                for (family_container of family_containers) {
                    family_container.style.display = 'none';
                }
                console.log('Hid all family containers');
                
                // Find the desired family
                family = url_parts[1];
                document.querySelector('div#'+family+'-container').style.display = 'block';
                console.log('Unhid desired family container');

                // Exiting case
                break;

                
            // Anchors > 1
            default:
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}
