---
layout: base
---

<!-- List tag links to types -->
<h1 class="hide-in-solo">Post Tags</h1>

<div class="tags hide-in-solo">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
        <a href="#{{ tag[0] }}"> {{ tag[0] }} </a>
    {% endfor %}
</div>


<!-- List posts by type -->
<h1 class="hide-in-solo">Tag Lists</h1>

{% assign sorted_tags = site.tags | sort %}
{%- for tag in sorted_tags -%}

    <div class="tag-container" id="{{ tag[0] }}-container">
        <div class="tag-title">
            <span id="{{ tag[0] }}"> {{ tag[0] }} </span>
        </div>

        <div class="glossary-container">
            {%- assign glossary_writers = "all,single_only,all_only" | split: ',' -%}
            {% if glossary_writers contains page.glossary %}
                {%- if site.data.glossary contains tag[0] -%}
                    {%- assign current_tag = tag[0] -%}
                    {{ site.data.glossary[current_tag].text }}
                    <hr>
                {%- endif -%}
            {%- endif -%}
        </div>

        <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in tag[1] -%}
                {%- include post_list_item.html post=post -%}
            {%- endfor -%}
        </ul>
    </div>

{%- endfor -%}

{%- if page.show_single -%}
    <script>
        // Determine if the
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor
            case 1:
                console.log('No Anchor');

                // Exiting Case
                break;

            // 1 Anchor
            case 2:
                console.log('Has anchor');

                // Hide all hideable items other than tag containers
                items_to_hide = document.querySelectorAll(".hide-in-solo");
                for (item of items_to_hide) {
                    item.style.display = "none";
                }

                // Hide all containers
                containers = document.querySelectorAll('div.tag-container');
                for (container of containers) {
                    container.style.display = 'none';
                }
                console.log('Hid all containers');
                
                // Show desired container
                anchor = url_parts[1];
                document.querySelector('div#'+anchor+'-container').style.display = 'block';
                console.log('Show desired container');

                // Exiting case
                break;

            // Anchors > 1
            default:
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}

{%- if page.glossary == 'single_only' -%}
    <script>
        // Determine the number of anchors in the URL
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor - Hide Glossary
            case 1:
                console.log('No Anchor');

                // Hide all glossary containers and exit
                containers = document.querySelectorAll('div.glossary-container');
                for (container of containers) {
                    container.style.display = 'none';
                }
                console.log('Hid all glossary containers');
                break;


            // 1 Anchor - Do Nothing
            case 2:
                // Log case and exit
                console.log('Has anchor');
                break;


            // Anchors > 1 - Do Nothing
            default:
                // Log case and break
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}

{%- if page.glossary == 'all_only' -%}
    <script>
        // Determine the number of anchors in the URL
        url_parts = document.URL.split('#');
        switch (url_parts.length) {

            // No Anchor - Do Nothing
            case 1:
                // Log case and exit
                console.log('No Anchor');
                break;


            // 1 Anchor - Hide glossaries
            case 2:
                // Log case and exit
                console.log('Has anchor');

                // Hide all glossary containers and exit
                containers = document.querySelectorAll('div.glossary-container');
                for (container of containers) {
                    container.style.display = 'none';
                }
                console.log('Hid all glossary containers');
                break;


            // Anchors > 1 - Do Nothing
            default:
                // Log case and exit
                console.log("Please don't submit  unsafe urls");
                break;
        }
    </script>
{%- endif -%}
